<section class="form-registro">
    <h1 align="center">Conocimientos </h1>
    <section class="form-registro1">
      <div class="pregresp">
        <div class="pregunta">1. ¿Conoce las normas de higiene para manipulacion de alimentos?<br />
        </div>
        <div class="respuestas">
          <input type="radio" name="preg1" value="1" /> Sí<br />
          <input type="radio" name="preg1" value="2" /> No<br />
          <input type="radio" name="preg1" value="3" /> Ns/Nc<br />
        </div>
      </div>

      <div class="pregresp">
        <div class="pregunta">2. ¿Ha recibido capacitacion sobre buenas practicas de manufactura?<br />
        </div>
        <div class="respuestas">
          <input type="radio" name="preg1" value="1" /> Sí<br />
          <input type="radio" name="preg1" value="2" /> No<br />
          <input type="radio" name="preg1" value="3" /> Ns/Nc<br />
        </div>
      </div>

      <div class="pregresp">
        <div class="pregunta">3. ¿De que trata la resolucion 2674 del 2003?<br />
        </div>
        <div class="respuestas">
          <input type="radio" name="preg1" value="1" /> Sí<br />
          <input type="radio" name="preg1" value="2" /> No<br />
          <input type="radio" name="preg1" value="3" /> Ns/Nc<br />
        </div>
      </div>
       </section>

       <section class="form-registro2">
        <div class="pregresp">
          <div class="pregunta">4. ¿Que tipo de contaminacion de alimentos conoce?<br />
          </div>
          <div class="respuestas">
            <input type="text" name="preg1" /><br />
          </div>
        </div>

        <div class="pregresp">
          <div class="pregunta">5. ¿Sabe que es un alimento inocuo?<br />
          </div>
          <div class="respuestas">
            <input type="radio" name="preg1" value="1" /> Sí<br />
            <input type="radio" name="preg1" value="2" /> No<br />
            <input type="radio" name="preg1" value="3" /> Ns/Nc<br />
          </div>
        </div>

        <div class="pregresp">
          <div class="pregunta">6. ¿En caso de afirmativo, la explicacion ¿fue correcta?<br />
          </div>
          <div class="respuestas">
            <input type="radio" name="preg1" value="1" /> Sí<br />
            <input type="radio" name="preg1" value="2" /> No<br />
            <input type="radio" name="preg1" value="3" /> Ns/Nc<br />
          </div>
        </div>
        <button type="button" class="btn btn-danger btn-lg btn-block">Siguiente</button>
        <button type="button" class="btn btn-danger btn-lg btn-block">Anterior</button>
       </section>
       
</section>
