<section class="form-registro">
  <h1 align ="center">Registrar Restaurantes</h1>
  <section class="form-registro1">
    <form [formGroup]= "formGroup">
      <div class="col-xs-10 col-sm-8 col-md-8">
        <div class="form-group row">
            <label for="nombre" class="col-form-label col-sm-4">Nit:</label>
          <div class="col-sm-8">
            <input type="text"  name="nit" formControlName="nit" class="form-control"
            [ngClass]="{ 'is-invalid':  control.nit.errors && control.nit.touched }" />

                <div *ngIf="control.nit.errors" class="invalid-feedback">
                    <div *ngIf ="control.nit.errors.required">Se require la identificacion</div>
                    </div>
          </div>
        </div>
    </div>

    <div class="col-xs-10 col-sm-8 col-md-8">
        <div class="form-group row">
            <label for="nombre" class="col-form-label col-sm-4">Nombre:</label>
          <div class="col-sm-8">
        <input type="text" name="nombre" formControlName="nombre" class="form-control"
          [ngClass]="{'is-invalid':control.nombre.errors  && control.nombre.touched}"/>
          <div *ngIf="control.nombre.errors" class="invalid-feedback">
            <div *ngIf ="control.nombre.errors.required">Se requiere el nombre</div>
          </div>
          </div>
        </div>
    </div>
    
    <div class="col-xs-10 col-sm-8 col-md-8">
        <div class="form-group row">
            <label for="nombre" class="col-form-label col-sm-4">Propietario:</label>
          <div class="col-sm-8">
            <input type="text"  name="propietario" formControlName="propietario" class="form-control"
            [ngClass]="{ 'is-invalid':  control.propietario.errors}" />

                <div *ngIf="control.propietario.errors" class="invalid-feedback">
                    <div *ngIf ="control.propietario.errors.required">Se require el propietario</div>
                    </div>
          </div>
        </div>
    </div>

    <div class="col-xs-10 col-sm-8 col-md-8">
        <div class="form-group row">
            <label for="nombre" class ="col-form-label col-sm-4">Direccion:</label>
          <div class="col-sm-8">
            <input type="text"  name="direccion" formControlName="direccion" class="form-control" 
            [ngClass]="{ 'is-invalid':  control.direccion.errors}"/>

            <div *ngIf="control.direccion.errors" class="invalid-feedback">
                <div *ngIf="control.direccion.errors.required">Se require la direccion</div>
                </div>
          </div>
        </div>
    </div>
    
    <div class="col-xs-10 col-sm-8 col-md-8">
      <div class="form-group row">
          <label for="nombre" class="col-form-label col-sm-4">Cantidad Personal:</label>
        <div class="col-sm-8">
          <input type ="number" name="cantidadPersonal" formControlName="cantidadPersonal" class ="form-control"
          [ngClass]="{ 'is-invalid':  control.cantidadPersonal.errors}" />
          <div *ngIf="control.cantidadPersonal.errors" class="invalid-feedback">
            <div *ngIf="control.cantidadPersonal.errors.required">Se require la cantidad personal</div>
            </div>

        </div>
      </div>
  </div>
    </form>
  </section>
     <button name="boton2" type="button" class="btn btn-danger  btn-block" (click)="onSubmit()" [disabled]="formGroup.invalid">Registrar</button>

  <section class="form-registro2">
    <form [formGroup]= "formGroup">

      <div class="col-xs-10 col-sm-8 col-md-8">
        <div class="form-group row">
            <label for ="nombre" class="col-form-label col-sm-4">Telefono:</label>
          <div class="col-sm-8">
            <input type="text"  name="telefono" formControlName="telefono"  class="form-control"/>
          </div>
        </div>
    </div>  
        <div class="col-xs-10 col-sm-8 col-md-8">
            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-4">E-mail:</label>
              <div class="col-sm-8">
                <input type="text"  name="email" formControlName="email"  class="form-control"/>
              </div>
            </div>
        </div>

        <div class="col-xs-10 col-sm-8 col-md-8">
            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-4">Sedes:</label>
              <div class="col-sm-8">
                <input type="number"  name="sedes" formControlName="sedes"  class="form-control"/>
              </div>
            </div>
        </div>

        <div class ="col-xs-10 col-sm-8 col-md-8">
            <div class ="form-group row">
                <label for ="nombre" class="col-form-label col-sm-4">Año Funcionamiento:</label>
              <div class="col-sm-8">
                <input type="number"  name="añoFuncionamiento" formControlName="añoFuncionamiento"  class="form-control"/>
              </div>
            </div>
        </div>
        <div class="col-xs-10 col-sm-8 col-md-8">
            <div class ="form-group row">
                <label for="nombre" class="col-form-label col-sm-4">Especialidad:</label>
              <div class="col-sm-8">
                <input type="text"  name="especialidad" formControlName="especialidad"  class="form-control"/>
              </div>
            </div>
        </div>
    </form>
     <button type="button" class="btn btn-danger btn-block">Cancelar</button>
  </section>
</section>

